/*.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}*/

.root {
  width: 90%;
  max-width: 500px;
  min-width: 200px;
  display: inline-block;
}
